<footer>
    <div [ngClass]="'discount'">
        <a [routerLink]="'#'">SALE UP TO 70% OFF FOR ALL CLOTHES &amp; FASHION ITEMS, ON ALL BRANDS.</a>
    </div>
    <div ngClass="'main_footer">
    <div [ngClass]="'footer-logo'">
        
    </div>
        <div [ngClass]="'women'">
            <h1>for Her</h1>
            <a [routerLink]="'#'">Women Jeans</a> <br>
            <a [routerLink]="'#'">Tops and Shirts</a> <br>
            <a [routerLink]="'#'">Women Jackets</a><br>
            <a [routerLink]="'#'">Heels and Flats</a><br>
            <a [routerLink]="'#'">Women Accessories</a><br>
        </div>
<div [ngClass]="'men'">
    <h1>for him</h1>
    <a [routerLink]="'#'">Men Jeans</a><br>
    <a [routerLink]="'#'">Men Shirts</a><br>
    <a [routerLink]="'#'">Men Shoes</a><br>
    <a [routerLink]="'#'">Men Accessories</a><br>
    <a [routerLink]="'#'">Men Jackets</a><br>
</div>
</div>
</footer>
