<nav>
    <ul>
      <li><img routerLink="" src="./assets/logo1-free-img.png" alt=""></li>
      <li><a routerLink="/everything">Everything</a></li>
      <li><a routerLink="/women">Women</a></li>
      <li><a routerLink="/men">Men</a></li>
      <li><a routerLink="/accessories">Accessories</a></li>
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/contactus">Contactus</a></li>
      <li><a routerLink="/cart">cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
