
     <form class="mb-md-4 mt-md-3 pb-0" [formGroup]="registration" (ngSubmit)="doRegistration()">

       <div class="form-outline form-white mb-1 form-group" >
         <label class="form-label" for="typeEmailX">Email</label>
           <input
                type="email"
                [class.is-invalid]="registration.get['email'].invalid && registration.grt['email'].touched"
                class="form-control"
                name="email"
                id="email"
                formControlName="email"
         /><br>
         <!-- <div *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors?.['required']">please enter email</div>
          <div *ngIf="email.errors?.['minlength']">email size should be greater than 3</div>
          <div *ngIf="email.errors?.['forbidden']">email not allowed</div>
         </div> -->

        </div>

        <div class="form-outline form-white mb-1 form-group">
         <label class="form-label" for="typePasswordX">Password</label>
         <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
       </div>

       <div class="form-outline form-white mb-1 form-group">
         <label class="form-label" for="RePassword">Re-Password</label>
           <input [class.is-invalid]="registration.errors?.['mismatch']" type="password" id="RePassword" class="form-control form-control-lg" formControlName="re_password" />

           <!-- <div *ngIf="registration.error?.mismatch" class="text-danger is-invalid">
              password must be same
           </div> -->

         </div>

         <div formGroupName="address">
          <div class="form-outline form-dark mb-1 form-group">
            <label  for="city">City</label>
            <input type="text" id="city" class="form-control form-control-lg" formControlName="city" />
          </div>
          <div class="form-outline form-dark mb-1 form-group">
            <label  for="state">State</label>
            <input type="text" id="state" class="form-control form-control-lg" formControlName="state" />
          </div>
          <div class="form-outline form-dark mb-1 form-group">
            <label  for="postal_code">postal code</label>
            <input type="text" id="postal_code" class="form-control form-control-lg" formControlName="postal_code" />
          </div>
         </div>

       <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
       </form>
       {{registration.value | json}}

