.main{
    display: flex;
   flex-direction: row;
   justify-content: center;  
}
.fieldset{
    background-color: rgb(152, 208, 214);
}
.textUnderEmail{
    size: 500px;
    margin-left: 50px;
}
#subitButton{
    margin-left: 150px
}
table,td,th{
    border: 1px solid black;
    
}